<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid topbarinmiddle">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
            <div class="navbar-brand">Choose Widget</div>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left top left black"></span>
            </a>
            </p>
        </div>
    </div>
</nav>



<ul class="list-group movedown">
    <li class="list-group-item">
        <a ng-click="model.createWidget('HEADING')">
            Header
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            Lable
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            HTML
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            Text Input
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            Link
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            Button
        </a>
    </li>
    <li class="list-group-item">
        <a ng-click="model.createWidget('IMAGE')">
            Image
        </a>
    </li>
    <li class="list-group-item">
        <a ng-click="model.createWidget('YOUTUBE')">
            Youtube
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            Data Table
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            Repeater
        </a>
    </li>
</ul>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user top right blue"></span>
            </a>
        </div>
    </div>
</nav>
