<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid topbarinmiddle">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
            <div class="navbar-brand">Widget Edit</div>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left top left black"></span>
            </a>
            </p>
            <a ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok top right black"></span>
            </a>
        </div>
    </div>
</nav>


<div class="inmiddle2">
    <div class="form-group">
        <div ng-include="model.getEditor(model.widget.widgetType)"></div>
    </div>
    <a ng-click="model.updateWidget(model.widget)"
       class="btn btn-block btn-success button">
        Update
    </a>
    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger button">
        Delete
    </a>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link" class="navbar-link">
            <span class="glyphicon glyphicon-plus glyphicon-user head"></span>
        </a>
    </p>
</nav>