 <div class="col-sm-4 hidden-xs zeropaddle leftside">
            <nav class="navbar navbar-light navbar-top bg-primary">
                <div class="container-fluid topbarinmiddle">
                    <div class="navbar-header">
                        <p class="navbar-text pull-right">
                        <div class="navbar-brand">Websites</div>
                        <a href="#!/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-chevron-left top left white"></span>
                        </a>
                        </p>

                        <a href="#!/user/{{model.userId}}/website/new">
                            <span class="glyphicon glyphicon-plus top right white"></span>
                        </a>
                    </div>
                </div>
            </nav>

     <ul ng-repeat="website in model.websites" class="list-group">
         <li class="list-group-item">
             <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                 {{website.name}}
             </a>
             <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                 <span class="glyphicon glyphicon-cog pull-right"></span>
             </a>
         </li>
     </ul>
 </div>

        <div class="col-sm-8 zeropaddle">
            <nav class="navbar navbar-light navbar-top bg-primary">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="navbar-text pull-right">
                        <div class="navbar-brand">New Website</div>
                        </p>

                        <a href="#!/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-ok top right white"></span>
                        </a>
                    </div>
                </div>
            </nav>

            <form class="inmiddle">
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Name" ng-model="website.name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" rows="5" placeholder="Description" ng-model="website.description"></textarea>
                </div>
                <a ng-click="model.createWebsite(website)"
                   class="btn btn-block btn-success">
                    Create
                </a>
            </form>
        </div>


<nav class="navbar navbar-light navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user top right  white"></span>
            </a>

        </div>
    </div>
</nav>

