<div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Video Name" ng-model="model.widget.name">
        <label for="text">Text</label>
        <input type="text" class="form-control" id="text" placeholder="Content" ng-model="model.widget.text">
        <label for="url">URL</label>
        <input id="url"
               class="form-control" type="url" placeholder="www.google.com" ng-model="model.widget.url">
        <label for="width">Width</label>
        <input id="width"
               class="form-control" type="width" placeholder=66% ng-model="model.widget.width">
    <br>
        <a ng-click="model.updateWidget(model.widget)"
           class="btn btn-block btn-success">
            Update
        </a>
        <a ng-click="model.deleteWidget(model.widgetId)"
           class="btn btn-block btn-danger">
            Delete
        </a>
    <br>
    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>
    </div>
