
<div class="inmiddle">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Image Name" ng-model="model.widget.name">

        <label for="text">Text</label>
        <input type="text" class="form-control" id="text" placeholder="Content" ng-model="model.widget.text">

        <label for="url">URL</label>
        <input id="url"
               class="form-control" type="url" placeholder="www.google.com" ng-model="model.widget.url">

        <label for="width">Width</label>
        <input id="width"
               class="form-control" type="width" placeholder=66% ng-model="model.widget.width">

        <label>Upload</label>
        <form action="/api/upload"   method="post" enctype="multipart/form-data">
            <input  name="myFile"    type="file" class="form-control"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
        </form>

    <br>
        <a class="btn btn-info btn-block"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
            Search On Flickr
        </a>

    <a ng-click="model.updateWidget(model.widget)"
       class="btn btn-block btn-success ">
        Update
    </a>
    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger ">
        Delete
    </a>
    <br>
    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

</div>