
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid topbarinmiddle">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
            <div class="navbar-brand">Pages</div>
            <a href="#!/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-chevron-left top left black"></span>
            </a>
            </p>

            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus top right black"></span>
            </a>
        </div>
    </div>
</nav>


<ul ng-repeat="page in model.pages" class="list-group movedown">
    <li class="list-group-item">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
            {{page.name}}
        </a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
</ul>



<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user top right blue"></span>
            </a>
        </div>
</nav>
